@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #053345;
    --font-primary: "Quicksand", serif;
    --color-background: #f2f6fe;
    --color-danger: #b91c1c;
    --color-success: #4ADE80;

    --animate-shake: shake 0.4s ease-in-out;
    @keyframes shake {
        0%, 100% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-4px);
        }
        40% {
            transform: translateX(4px);
        }
        60% {
            transform: translateX(-4px);
        }
        80% {
            transform: translateX(4px);
        }
    }
}
